{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/coupons.css' %}">
{% endblock css %}
{% block content %}
<div class="container text-light">
    <div class="display-6 mb-3"><u>Hey {{user.first_name}}! View your coupons here</u></div>
    {% for c in coupons %}
    {% comment %} <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-4 border-end"></div>
                <div class="col-8 border-start">
                    <div class="row">
                        h6
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    {% comment %} <p>{{c.couponCode}}</p> {% endcomment %}
    <div class="announcement my-5">
        {% comment %} <span class="close">&#x2715;</span> {% endcomment %}
        <div class="text">
            <span class="is-desktop">
                <strong>NETMEDS</strong>. Use Coupon for 50% OFF on purchase above Rs.1500 . Use Coupon
            </span>
            <span class="is-mobile">Use Coupon Code for <strong>50% OFF</strong></span>
        </div>
        <div class="coupon">
            <input type="text" value="{{c.couponCode}}" id="couponCode" readonly />
            <div class="tooltip">
                <button onclick="myFunction()" onmouseout="outFunc()">
                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    Copy
                </button>
            </div>
        </div>
        {% comment %} <span id="{{c.id}}" class="is-desktop is-timer"></span> {% endcomment %}
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
{% comment %} <script src="{% static 'js/coupons.js' %}"></script> {% endcomment %}
{% endblock js %}