{% extends 'base.html' %}
{% load static %}
{% load custom_template %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/coupons.css' %}">
{% endblock css %}
{% block content %}
<div class="container text-light">
    <div class="display-6 mb-3"><u>Hey {{user.first_name}}! View your coupons here</u></div>
    {% if coupons %}
        {% for c,t in coupons|custom_zip:time %}
        <div class="row mt-2 text">
            <div class="col mt-2 mx-auto">
                <p class="lead">Use coupon to get 50% off in medicines on min purchase of Rs.1500</p>
            </div>
            <div class="col lead mt-2 mx-auto">
                <div class="row">
                    <div class="col-xs-6 col-sm-7 cpn mx-auto">
                        {{c.couponCode}}
                    </div>
                    <div class="col-xs-6 col-sm-4 cpy mx-auto text-center">
                        <a href="#" data-bs-toggle="tooltip" data-bs-title="copy to clipboard">COPY</a>
                    </div>
                </div>
            </div>
            <div class="col mt-2 mx-auto d-none d-sm-none d-md-block">
                <input type="datetime" name="cdates" class="form-control" value={{t.created_at}} hidden>
                <p class="lead">Expires at: <span id="{{t.index}}"></span> {{t.index}} </p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function(element){
            return new bootstrap.Tooltip(element);
        });
    });
</script>
{% endblock content %}

{% block js %}
<script src="{% static 'js/coupons.js' %}"></script>
{% endblock js %}