{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
{% endblock css %}

{% block content %}
<!--Pics Carousel-->
<div id="carousel-img-gallery" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-img-gallery" data-bs-slide-to="0" class="carousel-btn active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-img-gallery" data-bs-slide-to="1" class="carousel-btn"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-img-gallery" data-bs-slide-to="2" class="carousel-btn"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="{% static '/images/img1.jpg' %}" class="d-block mx-auto carousel-img" alt="...">
            {% comment %} <div class="carousel-caption d-none d-md-block">
                <p class="display-6">"Some representative placeholder content for the first slide."</p>
            </div> {% endcomment %}
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static '/images/img2.jpg' %}" class="d-block mx-auto carousel-img" alt="...">
            {% comment %} <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div> {% endcomment %}
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static '/images/img3.jpg' %}" class="d-block mx-auto carousel-img" alt="...">
            {% comment %} <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div> {% endcomment %}
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-img-gallery"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon carousel-btn-bg" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-img-gallery"
        data-bs-slide="next">
        <span class="carousel-control-next-icon carousel-btn-bg" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Benifits Carousel for large screens-->

<div id="Benifits-Carousel-lg-screen" class="mt-5 carousel slide d-none d-sm-block" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-3 card mx-auto mb-5">
          <div class="card-body">
            <h5 class="card-title">What is it?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>                 {% endcomment %}
            <p class="card-text">Blood Collected straight from the donor after its donation usually separated into red blood cells,platelets, and plasma.</p>
          </div>
        </div>
        <div class="col-md-4 card mx-auto mb-5">
          <div class="card-body">
            <h5 class="card-title">Who can donate?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">You need to be 18-65 years old, weigh 45kg or more and be fit and healthy.</p>
          </div>
        </div>
        <div class="col-md-3 card mx-auto mb-5">
          <div class="card-body">
            <h5 class="card-title">User For?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">Stomach disease, kidney disease, childbirth, operations, blood loss, trauma, cancer, blood diseases, haemophilia, anemia, heart disease.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-3 card mx-auto mb-5">
          <div class="card-body">
            <h5 class="card-title">Lasts For?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">Red cells can be stored for 42 days.</p>
          </div>
        </div>
        <div class="col-md-4 card mx-auto mb-5">
          <div class="card-body">
            <h5 class="card-title">How long does it take?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">15 minutes to donate.</p>
          </div>
        </div>
        <div class="col-md-3 card mx-auto mb-5">
          <div class="card-body">
            <h5 class="card-title">How often can I donate?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">Every 12 weeks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Benifits-small-screen-->
<div id="Benifits-carousel-sm-screen" class="mt-5 carousel slide d-md-none" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card mx-4 mb-2">
            <div class="card-body">
              <h5 class="card-title">What is it?</h5>
              {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>                 {% endcomment %}
              <p class="card-text">Blood Collected straight from the donor after its donation usually separated into red blood cells,platelets, and plasma.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-4 mb-2">
            <div class="card-body">
              <h5 class="card-title">Who can donate?</h5>
              {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
              <p class="card-text">You need to be 18-65 years old, weigh 45kg or more and be fit and healthy.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-4 mb-2">
            <div class="card-body">
              <h5 class="card-title">User For?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">Stomach disease, kidney disease, childbirth, operations, blood loss, trauma, cancer, blood diseases, haemophilia, anemia, heart disease.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-4 mb-2">
            <div class="card-body">
              <h5 class="card-title">Lasts For?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">Red cells can be stored for 42 days.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-4 mb-2">
            <div class="card-body">
              <h5 class="card-title">How long does it take?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">15 minutes to donate.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card mx-4 mb-2">
            <div class="card-body">
              <h5 class="card-title">How often can I donate?</h5>
            {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
            <p class="card-text">Every 12 weeks</p>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Benifits-carousel-sm-screen" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container my-3">
  <h2 class="text-center text-white">Who can Donate Whom?</h2>
  <table class="table table-dark text-center">
    <thead>
      <tr>
        <th>Blood Type</th>
        <th>Can donate to</th>
        <th>Can receive from</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A+</td>
        <td>A+, AB+</td>
        <td>A+, A-, O+, O-</td>
      </tr>
      <tr>
        <td>A-</td>
        <td>A+, A-, AB+, AB-</td>
        <td>A-, O-</td>
      </tr>
      <tr>
        <td>B+</td>
        <td>B+, AB+</td>
        <td>B+, B-, O+, O-</td>
      </tr>
      <tr>
        <td>B-</td>
        <td>B+, B-, AB+, AB-</td>
        <td>B-, O-</td>
      </tr>
      <tr>
        <td>AB+</td>
        <td>AB+</td>
        <td>Everyone</td>
      </tr>
      <tr>
        <td>AB-</td>
        <td>AB+, AB-</td>
        <td>AB-, A-, B-, O-</td>
      </tr>
      <tr>
        <td>O+</td>
        <td>A+, B+, AB+, O+</td>
        <td>O+, O-</td>
      </tr>
      <tr>
        <td>O-</td>
        <td>Everyone</td>
        <td>O-</td>
      </tr>
    </tbody>
  </table>  
</div>
<div class="container mb-3" id="aboutus">
  <div class="card">
    <div class="card-header bg-dark">
      <strong class="h2 text-light">About Us:</strong>
    </div>
    <div class="card-body bg-dark" style="opacity: .8;">
      <ul class="text-light">
        <li><p class="lead text-light">
          BLOODROP play an important role in the process of collecting blood and managing blood stocks, approving blood requests, updating donations and updating available blood types.
        </p></li>
        <li><p class="lead text-light">
          We solve the issues and problems encountered in collecting information about donors, blood camps, inventories of blood bags and blood tranfusion services etc including donor screening, invemtory management, blood ordering, blood usage review and compatibility testing.
        </p>
        <li><p class="lead text-light">
          We ennsure to increase the safety and quality of the blood supply as well as provide logistics data for the optimal supply chain management.
        </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row g-3 mx-3 mt-5 px-3 py-3 border rounded text-light" id="contactus">
  <div class="card-header bg-dark">
    <strong class="h2 text-light">Contact Us:</strong>
  </div>
  <div class="col-md-6">
    <div class="container map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59879.90530333796!2d85.76855233124996!3d20.27980629999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7587fc13d69%3A0x9608386f4382ffd7!2sIndian%20Red%20Cross%20Society%2C%20Odisha%20State%20Branch!5e0!3m2!1sen!2sin!4v1679668310792!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="col-md-6">
      <div class="row my-2">
        <d class="image d-flex">
          <img src="https://image3.jdomni.in/banner/21052021/FC/0F/05/FEC16BAA849D4F53A1933B5E42_1621591284732.png?output-format=webp" alt="">
          <p class="h3 pt-1"> Address</p>
        </d>
        <p class="lead" style="margin-left: 40px;">Near Canara Bank, UNIT- 9, Bhubaneswar, Odisha 751004</p>
      </div>
      <div class="row my-2">
        <d class="image d-flex">
          <img src="https://image3.jdomni.in/banner/21052021/D7/B5/64/0E045A658E71E47017F2BD729B_1621591290721.png?output-format=webp" alt="">
          <p class="h3 pt-1"> General Enquiries</p>
        </d>
        <p class="lead" style="margin-left: 40px;">contact@bloodrop.com</p>
      </div>
      <div class="row my-2">
        <d class="image d-flex">
          <img src="https://image2.jdomni.in/banner/21052021/E6/40/93/10AFD6F6D871B327AF3ADBF844_1621591296036.png?output-format=webp" alt="">
          <p class="h3 pt-1"> Call Us</p>
        </d>
        <p class="lead" style="margin-left: 40px;">+91-7792-779294</p>
      </div>
      <div class="row my-2">
        <d class="image d-flex">
          <img src="https://image3.jdomni.in/banner/21052021/40/13/58/9DAF88962237471A73F31569F1_1621591302662.png?output-format=webp" alt="">
          <p class="h3 pt-1"> Our Timings</p>
        </d>
        <p class="lead" style="margin-left: 40px;">Mon - Sat : 09:00 AM - 09:00 PM</p>
      </div>
  </div>
</div>
{% endblock content %}