{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-light">Welcome to Cart-Page</h1>
    {% if items %}
    <div class="row">
        <div class="col-md-8">
            {% for i in items %}
            <div class="row my-2 mx-1">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-auto">
                                <img src="" alt="{{i.b_group}}">
                            </div>
                            <div class="col-md-8 col-sm-auto">
                                <h4><strong>Quantity: {{i.quantity}} units</strong></h4>
                                <div class="text-end">
                                    <a href="{% url 'delete_from_cart' i.b_group %}" class="btn me-auto btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="h1 text-center">Total Quantity</h1>
                    <h3 class="h3 text-center">{{total_quantity}} Nos.</h3>
                    <a href="{% url 'place_order' %}" class="btn btn-primary centered">Place-Order</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="lead strong text-light">Please order to display</p>
    {% endif %}
</div>
{% endblock content %}