{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-light"> Hello {{user.first_name}}!</h1><br>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="{% url 'hospital_menu' %}">Indian Red Cross Society, Odisha State Branch</a></td>
                <td>Near Canara Bank, UNIT- 9, Bhubaneswar, Odisha 751004</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><a href="">Odisha Red Cross Blood Bank Bhubaneshwar Municipal Hospital</a></td>
                <td>Samantarapur, Old Town, Bhubaneswar, Odisha 751002</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><a href="">Odisha Blood Bank</a></td>
                <td>Unit 6, Capital Hospital Campus, Bhubaneswar, Odisha 751001</td>
              </tr>
            </tbody>
          </table>
    </div>
{% endblock content %}