{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/hospital-index.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <h1 class="text-light"> Hello {{user.first_name}}!</h1><br>
        <div class="row">
            {% comment %} {% for b in blood %} {% endcomment %}
            <h1 class="text-light">Order Blood from {{blood.blood_bank_name}}</h1>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: O+ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.o_pos_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=O+ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: O-ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.o_neg_group}} units</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=O-ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: A+ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.a_pos_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=A+ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: A-ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.a_neg_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=A-ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: B+ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.b_pos_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=B+ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: B-ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.b_neg_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=B-ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: AB+ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.ab_pos_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=AB+ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card my-2">
                        <div class="card-body">
                            <p class="lead">Blood type: AB-ve</p>
                            <div class="row">
                                <div class="col-auto">
                                    <p class="lead">Quantity: {{blood.ab_neg_group}} units</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <form action="{% url 'add_to_cart' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" type="text" name="b_group" value=AB-ve>
                                    <div class="row">
                                        <div class="col-md-6 g-1">
                                            <div class="input-group">
                                                <div class="dec btn btn-outline-secondary" type="button">-</div>
                                                <input type="number" name="quantity" class="form-control text-center" value="1" readonly>
                                                <div class="inc btn btn-outline-secondary" type="button">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 g-1">
                                            <input type="submit" value="Add to cart" class="w-100 btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% comment %} {% endfor %} {% endcomment %}
        </div>
    </div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/hospital-menu.js' %}"></script>
{% endblock js %}