{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bs5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbGxdZSJGCuqf1LbL2uMJgbrGSq279RQs&callback=initMap"async defer></script>
    
    {% block css %}
    
    {% endblock css %}
    <title>Blood Bank</title>
</head>
<body class="bg-dark">
    <div class="mx-lg-2">
        <nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href='{% url 'index' %}'><img src="{% static 'images/icon-img-1.png' %}" alt="Logo"> BLOODROP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Welcome {{user.first_name}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'hospital_home' %}">Order Blood</a></li>
                                    <li><a class="dropdown-item" href="{% url 'hospital_cart' %}">Cart</a></li>
                                    <li><a class="dropdown-item" href="{% url 'hospital_track_order' %}">Track Order</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'hospital_order_history' %}">Order History</a></li>
                                </ul>
                            </li>
                            <div class="vr text-light"></div>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Welcome {{user.first_name}} {{user.last_name}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'doner_home' %}">Upcoming Events</a></li>
                                    <li><a class="dropdown-item" href="{% url 'doner_coupons' %}">Coupons</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'doner_participation' user.email %}">Active Participations</a></li>
                                </ul>
                            </li>
                            <div class="vr text-light"></div>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href='{% url 'logout' %}'>Logout</a>
                            </li>
                            {% endif %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href='{% url 'organize' %}'>Organise Camp</a>
                        </li>
                        <div class="vr text-light d-none d-sm-block"></div>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href='{% url 'donor_signin' %}'>Sign-In</a>
                        </li>
                        <div class="vr text-light d-none d-sm-block"></div>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href='{% url 'donor_signup' %}'>Sign-Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}
        
        {% endblock content %}
        <footer class="footer mt-auto bg-dark p-3 text-light">
            <div class="row lead">
                <div class="col mx-auto">
                    <a href="mailto:sitalpanigrahi87@gmail.com"><i class="bi bi-envelope-at"></i> : E-Mail</a> <br>
                    <a href="https://goo.gl/maps/nQn5yrwzTeGLN3hz9" target="_blank"><i class="bi bi-geo-alt"></i> : RED-CROSS, BBSR</a> <br>
                    <a href="tel:+"><i class="bi bi-telephone"></i> : Contact no</a>
                </div>
                <div class="col mx-auto align-middle text-end">
                    <p>Blood-Bank &copy; 2023</p>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="{% static 'bs5/js/bootstrap.bundle.js' %}"></script>

{% block js %}

{% endblock js %}
{% if user.is_authenticated %}
    {% if user.is_staff %}
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="potDoner"
      agent-id="321b571e-266c-47e5-9a6b-cf2cb462e98f"
      language-code="en"
    ></df-messenger>
    {% endif %}
{% else %}
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="FAQBOT"
  agent-id="f35e0813-f92e-4794-9fde-3245c156d689"
  language-code="en"
></df-messenger>
<script>
    console.log('FAQ chat Bot place')
</script>
{% endif %}

</html>