{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/message-number-style.css' %}">
{% endblock css %}

{% block content %}
    <div class="container my-3">
        
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card p-4 shadow-lg">
                    <div class="card-body pb-0 row">
                        <div class="col-6">
                            
                            <a class="btn btn-light" href="{% url 'donor_signup' %}"><h4>Donor Sign-Up</h4></a>
                        </div>
                        {% if request.get_full_path|stringformat:"s" == "/user/hospital/signup" %}
                        <div class="col-6 rounded-top bg-info" style="text-align:end;">
                            <a class="btn btn-info" href="{% url 'hospital_signup' %}"><h4>Hospital Sign-Up</h4></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body bg-info rounded-bottom">
                        {% if messages %}
                            {% for message in messages %}
                                <p class={{message.tags}} >{{message}}</p>
                            {% endfor %}
                        {% endif %}
                        <form class="needs-validation" action="{% url 'hospital_signup' %}" method="post" onsubmit="return validate();">
                            {% csrf_token %}
                            <div class="mb-1">
                                
                                <label for="hospital_name">Hospital Name<span class="text-danger">*</span></label>
                                <input type="text" name="hospital_name" id="hospital_name" class="form-control">
                                <small><label for="hospital_name_error" id="hospital_name_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="email">Email<span class="text-danger">*</span></label>
                                <input type="email" name="email" id="email" class="form-control">
                                <small><label for="email_error" id="email_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="contact">Contact No:<span class="text-danger">*</span></label>
                                <input type="number" name="contact" id="contact" class="form-control" maxlength="10">
                                <small><label for="contact_error" id="contact_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="username">Username/Hospital Redg No.<span class="text-danger">*</span></label>
                                <input type="text" name="username" id="username" class="form-control">
                                <small><label for="username_error" id="username_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="password">Password<span class="text-danger">*</span></label>
                                <p><small class="text-muted">Password should be 8 - 16 character long & should contain at-least
                                        one uppercase, one lowercase, one number and one special character[~!@#$%^&*]</small></p>
                                <input type="password" name="password" id="password" class="form-control">
                                <small><label for="password_error" id="password_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="password2">Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" name="password2" id="password2" class="form-control">
                                <small><label for="password2_error" id="password2_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="location">Please check Location Of Hospital<span class="text-danger">*</span></label>
                                <div id="map" style="height: 500px;width: 100%;">Map</div>
                                <input type="text" name="latitude" id="latitude" hidden>
                                <input type="text" name="longitude" id="longitude" hidden>
                            </div>
                            <input type="submit" value="Register" class="btn btn-primary w-100 my-2">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}

    <script src="{% static 'js/hospital-sign-up-validator.js' %}"></script>
{% endblock js %}